@page "/about"

<h2>About This Site</h2>

<p>
    Welcome! BlazorGames.net is a learning site, where I (Matthew Jones, writer of the blog <a href="https://exceptionnotfound.net">Exception Not Found</a>)
    build some common board  and computer games in Blazor and C# and then show how I did so.
    The primary purpose of this site is to educate people on how to use Blazor, and how to model complex real-world problems.
</p>
<p>
    This site is currently under construction. You can help! Submit a pull request
    <a href="https://github.com/exceptionnotfound/BlazorGames">over on the GitHub repo</a>.
</p>