@page "/about"

<PageTitle Title="About BlazorGames.net" />

<p>
    My name is <a href="https://exceptionnotfound.net/about-me/">Matthew Jones</a>, I write the blog <a href="https://exceptionnotfound.net">Exception Not Found</a>, and I
    built this site to help people learn about the amazing goodness that is ASP.NET Core and Blazor! 
    At the very least, in a more fun way than
    just <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.1">reading the docs</a> would be.
</p>

<p>
    The primary purpose of this site is to educate people on how to use Blazor, and how to model complex real-world problems.
</p>

<p>
    Everything here is open source. In fact, the source code for this very site is 
    <a href="https://github.com/exceptionnotfound/BlazorGames">available on GitHub</a>.
    I'm currently working on more ideas for this site, and I'm happy to hear about yours!
    Got an idea for a game? Submit a pull request!
</p>

<h3>More Modeling Practice!</h3>

<p>
    On my blog, I have published a series of <a href="https://exceptionnotfound.net/tag/modelingpractice/">"Modeling Practice" posts,</a> 
    which show how to model common board games with C# and .NET.
    Here's some of the cool games we have built in the past:
</p>

<ul>
    <li><a href="https://exceptionnotfound.net/simulating-candy-land-in-net-part-1-introduction-and-basics/">Candy Land</a></li>
    <li><a href="https://exceptionnotfound.net/solving-minesweeper-with-c-sharp-and-linq/">Minesweeper</a></li>
    <li><a href="https://exceptionnotfound.net/modeling-practice-uno-in-c-sharp-part-one-rules-assumptions-cards/">UNO</a></li>
    <li><a href="https://exceptionnotfound.net/modeling-battleship-in-csharp-introduction-and-strategies/">Battleship</a></li>
    <li><a href="https://exceptionnotfound.net/modeling-the-card-game-war-in-c-part-1-background-and-rules/">War (card game)</a></li>
    <li><a href="https://exceptionnotfound.net/learning-blazor-by-building-connect-four-in-asp-net-core/">ConnectFour (Blazor Server)</a></li>
    <li><a href="https://exceptionnotfound.net/using-blazor-webassembly-and-csharp-to-play-tic-tac-toe-in-dotnet-core/">Tic Tac Toe (Blazor WebAssembly)</a></li>
    <li><a href="https://exceptionnotfound.net/ticket-to-ride-csharp-modeling-practice-part-1-intro-and-game-rules/">Ticket to Ride</a></li>
    <li><a href="https://exceptionnotfound.net/yahtzee-in-blazor-webassembly-part-1-the-csharp-model/">Yahtzee! (Blazor WebAssembly)</a></li>
</ul>

<h3>
    An Important Note
</h3>

<p>
    I do not work for Microsoft or any of its subsidiaries, and this site is not affiliated with Microsoft. I created it
    purely because I love Blazor and its applications. That means that anything on this site can be superceded by the 
    <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.1">official Microsoft documentation.</a>
</p>