@page "/blackjack"

@using BlazorGames.Models.Blackjack;
@using BlazorGames.Models.Blackjack.Enums;
@using BlazorGames.Pages.Partials;

<PageTitle Title="Blackjack" />

@code {
    Dealer dealer = new Dealer(); //Creating a new Dealer also creates a new, shuffled CardDeck
    Player player = new Player();

    GameStatus status = GameStatus.NotStarted;

    public async Task InitializeHand()
    {
        if (dealer.Deck.Count < 13)
        {
            status = GameStatus.Shuffling;
            dealer.Deck = new CardDeck();
            await ForceDelay(1000);
        }

        status = GameStatus.Betting;
    }

    public async Task Bet(decimal amount)
    {
        if (player.Funds >= amount)
        {
            player.Bet += amount;
            await Deal();
        }
    }

    public async Task Deal()
    {
        status = GameStatus.Dealing;
        //Deal a card to each player. The dealer's card is not visible.
        await dealer.DealToPlayer(player);
        StateHasChanged();

        var dealerCard = dealer.Deal();
        dealerCard.IsVisible = false;
        await dealer.AddCard(dealerCard);
        StateHasChanged();

        //Deal another card to each player and the dealer; these will all be visible.
        await dealer.DealToPlayer(player);
        StateHasChanged();

        await dealer.DealToSelf();
        StateHasChanged();

        status = GameStatus.InProgress;

        //If the player has a natural blackjack, the hand is over.
        if (player.HasNaturalBlackjack)
        {
            EndHand();
        }
    }

    public async Task NewHand()
    {
        //Payout the player's bets
        player.Collect();

        //Clear the hands
        player.ClearHand();
        dealer.ClearHand();
        player.InsuranceBet = 0M;

        //Reset the game area
        status = GameStatus.NotStarted;

        //Easter egg!
        if(player.Funds > 1000)
        {
            status = GameStatus.EscortedOut;
            return;
        }

        //Start the game!
        await InitializeHand();
    }

    public async Task ForceDelay(int millis)
    {
        await Task.Delay(millis);
        StateHasChanged();
    }

    public async Task DealerMove()
    {
        if(dealer.Score < 17)
        {
            await dealer.DealToSelf();
            StateHasChanged();
        }
    }

    public async Task Hit()
    {
        await dealer.DealToPlayer(player);
        if(player.IsBusted)
        {
            EndHand();
        }
    }

    public async Task Stand()
    {
        player.HasStood = true;
        dealer.Reveal();
        while(dealer.Score < 17)
        {
            await DealerMove();
        }
        EndHand();
    }

    public void EndHand()
    {
        status = GameStatus.Payout;
        if (player.HasNaturalBlackjack && dealer.Score != 21)
        {
            //Player gets their bet back, plus 1.5 * the bet
            player.Change += player.Bet * 1.5M;
        }
        else if (!player.IsBusted && dealer.IsBusted)
        {
            //If the player is not busted but the dealer is, the player gets the amount of their bet back, plus the bet again.
            player.Change += player.Bet;
        }
        else if (!dealer.IsBusted && !player.IsBusted && player.Score > dealer.Score)
        {
            //This is a "normal" win condition; the player has more than the dealer and neither are busted.
            player.Change += player.Bet;
        }
        else if (!dealer.IsBusted && !player.IsBusted && player.Score == dealer.Score)
        {
            //If there's a push, no money changes hands
        }
        else //In all other situations, the player loses their bet.
        {
            player.Change += player.Bet * -1;
        }

        //No matter what, the player's bet gets reset
        player.Bet = 0;
        player.HasStood = false;
    }

    public async Task DoubleDown()
    {
        player.HasStood = true;
        //The player may only do this if their shown score is 9, 10, or 11.
        //If this happens, the player doubles their bet.
        player.Bet *= 2;

        await ForceDelay(300);

        //The player then gets one additional card
        await player.AddCard(dealer.Deal());

        //At this point, the player is forced to stand, and we continue as normal.
        await Stand();
    }

    //If the dealer has an Ace showing, the player may choose to make an insurance bet.
    //If the player chooses to make an insurance bet, they place a separate bet of 1/2 the original bet
    //The dealer then looks at the hidden card.
    //If the hidden card is a ten card, the dealer pays back the player at 2-to-1.
    //Otherwise, the player loses the insurance bet, and play continues as normal
    public void Insurance()
    {
        status = GameStatus.Insurance;

        if(dealer.HasAceShowing)
        {
            player.InsuranceBet = player.Bet / 2;
            //Dealer looks at hidden card. If it is a ten card, the player gets paid 2-to-1 on the insurance bet

            if(dealer.Score == 21)
            {
                dealer.Reveal();
                player.Change += player.InsuranceBet * 2;
                status = GameStatus.Payout;
                StateHasChanged();
                EndHand();
            }
            else
            {
                player.Change -= player.InsuranceBet;
            }
        }

        status = GameStatus.InProgress;
    }
}

<div class="row">
    <div class="col-3">
        <div>
            @{
                int cardCount = dealer.Deck.Count + 1;
            }
            @while (cardCount > 0)
            {
                <div class="blackjack-drawdeck">
                    <img src="images/blackjack/cardBack.png" />
                </div>
                cardCount -= 13;
            }
        </div>
    </div>
    <div class="col-3">
        <BlackjackHand Cards="dealer.Cards" />
    </div>
    <div class="col-3">
        <BlackjackScore Status="status" Player="dealer" />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <BlackjackFunds Funds="player.Funds" Change="player.Change"/>
    </div>
    <div class="col-3">
        @if (status == GameStatus.Betting)
        {
            @if (player.Funds < 10)
            {
                <span class="display-3 text-danger">Out of money!</span>
            }
            @if (player.Funds >= 10)
            {
                <button class="btn btn-primary" @onclick="(() => Bet(10))">Bet $10</button>
            }
            @if (player.Funds >= 20)
            {
                <button class="btn btn-primary" @onclick="(() => Bet(20))">Bet $20</button>
            }
            @if (player.Funds >= 50)
            {
                <button class="btn btn-primary" @onclick="(() => Bet(50))">Bet $50</button>
            }
        }

        @if (status == GameStatus.Payout)
        {
            <BlackjackHandResult Player="player" Dealer="dealer" />
        }
        @if(status == GameStatus.Dealing || status == GameStatus.Shuffling
          || status == GameStatus.InProgress || status == GameStatus.EscortedOut)
        {
            <BlackjackMessage Status="status" Bet="player.Bet"/>
        }
    </div>
</div>

<div class="row">
    <div class="col-3">
        @if (status == GameStatus.NotStarted || status == GameStatus.EscortedOut || player.Funds < 10)
        {
            <button class="btn btn-secondary" @onclick="(() => InitializeHand())">Start Game</button>
        }
        @if (!player.IsBusted && status == GameStatus.InProgress && !player.HasStood)
        {
            <button class="btn btn-primary" @onclick="(() => Stand())">Stand</button>
            <button class="btn btn-primary" @onclick="(() => Hit())">Hit</button>
            @if (player.Score >= 9
               && player.Score <= 11
               && player.Cards.Count == 2
               && player.Funds >= player.Bet * 2)
            {
                <br />
                <button class="btn btn-warning" @onclick="(() => DoubleDown())">Double Down</button>
            }
            @if (dealer.HasAceShowing && !player.HasInsurance)
            {
                <br />
                <button class="btn btn-warning" @onclick="(() => Insurance())">Insurance ($@(player.Bet / 2))</button>
            }
        }
        @if (status == GameStatus.Payout)
        {
            <button class="btn btn-secondary" @onclick="(() => NewHand())">Keep Going!</button>
        }
    </div>
    <div class="col-3">
        <BlackjackHand Cards="player.Cards" />
    </div>
    <div class="col-3">
        <BlackjackScore Status="status" Player="player"/>
    </div>
</div>

<BlackjackRules/>