<h2>What Is This?</h2>

<p>
    <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a>
    is a cellular automaton simulation developed by
    <a href="https://en.wikipedia.org/wiki/John_Horton_Conway">John Conway</a>
    in 1970.
</p>

<p>
    The game area is comprised of cells, each of which can be either alive or dead at any given time.
    Whether each cell is alive or dead is dependent on the state of its eight neighbor cells.
</p>

<h4>Rules</h4>
<p>
    The rules for the Game of Life are as follows.
</p>

<ol>
    <li>Any live cell with two or three live neighbours continues to be alive.</li>
    <li>Any dead cell with exactly three live neighbours becomes a live cell.</li>
    <li>All other live cells die in the next generation. Similarly, all other dead cells stay dead.</li>
</ol>