@page "/"

<h1>Blazor Games</h1>

<p>Hiya Everybody! Welcome to my new site, where we make board and computer games with Blazor to see how it works!</p>

<p>I'll be updating this site with new examples as I make them. In the meantime, check out the existing games using the links on the left.</p>