.minesweeper-game div {
    line-height:0;
    font-size:0;
}

.minesweeper-board {
    display: flex;
    flex-direction: row;
    font-family: Arial;
    background-color: silver;
}

.minesweeper-medium {
    width:276px;
    height:318px;
}

.minesweeper-board div{
    background-image: url(../sprite100.gif);
}

.minesweeper-column {
    height: 100%;
}

.minesweeper-gamepiece {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    font-size:0px;
}

.minesweeper-unrevealed {
    background-position: 0px -39px;
}

.minesweeper-flagged {
    background-position:-16px -39px;
}

.minesweeper-mine {
    background-position: -64px -39px;
}

.minesweeper-mine-smiley {
    background-image: url("../smiley-small.png");
}

.minesweeper-0 {
    background-position: 0px -23px;
}

.minesweeper-1 {
    background-position: -16px -23px;
}
.minesweeper-2 {
    background-position: -32px -23px;
}
.minesweeper-3 {
    background-position: -48px -23px;
}
.minesweeper-4 {
    background-position: -64px -23px;
}
.minesweeper-5 {
    background-position: -80px -23px;
}
.minesweeper-6 {
    background-position: -96px -23px;
}
.minesweeper-7 {
    background-position: -112px -23px;
}
.minesweeper-8 {
    background-position: -128px -23px;
}

.minesweeper-border-jointleft{
    background-position:-56px -81px;
    width:10px;
    height:10px
}

.minesweeper-border-jointright {
    background-position: -66px -81px;
    width: 10px;
    height: 10px
}

.minesweeper-border-horizontal{
    background-position: -40px -81px;
    width:16px;
    height:10px;
}

.minesweeper-border-vertical{
    background-position: -134px -39px;
    width:10px;
    height:16px;
}

.minesweeper-border-vertical-long{
    background-position: -134px -39px;
    width: 10px;
    height: 32px;
}

.minesweeper-border-bottomleft {
    background-position: -20px -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-border-bottomright {
    background-position: -30px -81px;
    width: 10px;
    height: 10px;
}