@using BlazorGames.Models.Blackjack;
@using BlazorGames.Models.Blackjack.Enums; 

@code {
    [Parameter]
    public GameState Status { get; set; }

    [Parameter]
    public Person Player { get; set; }
}

@if (Status == GameState.InProgress || Status == GameState.Dealing || Status == GameState.Insurance || Status == GameState.Payout)
{
    <h1 class="display-3 text-info">@Player.ScoreDisplay</h1>
}