@using BlazorGames.Models.Blackjack;

@code {
    [Parameter]
    public Person Player { get; set; }

    [Parameter]
    public Person Dealer { get; set; }
}

@if (Player.HasNaturalBlackjack
     && (Player.Score > Dealer.Score || Dealer.IsBusted))
{
    <h1 class="display-3 text-success">Blackjack!</h1>
}
else if (Player.IsBusted)
{
    <h1 class="display-3 text-danger">Busted...</h1>
}
else if (Dealer.IsBusted || Player.Score > Dealer.Score)
{
    <h1 class="display-3 text-success">Win!</h1>
}
else if (Dealer.Score > Player.Score)
{
    <h1 class="display-3 text-danger">Lose...</h1>
}
else if (Player.Score == Dealer.Score)
{
    <h1 class="display-3 text-info">Push</h1>
}