@using BlazorGames.Models.Blackjack;
@using BlazorGames.Models.Blackjack.Enums; 

@code {
    [Parameter]
    public GameState State { get; set; }

    [Parameter]
    public Person Player { get; set; }
}

@if (State == GameState.InProgress || State == GameState.Dealing || State == GameState.Insurance || State == GameState.Payout)
{
    <h1 class="display-3 text-info">@Player.ScoreDisplay</h1>
}