@using BlazorGames.Pages.Shared
@using BlazorGames.Models.Common  

<h2>How To Make ConnectFour in Blazor</h2>

<p>Want to learn how to make this yourself? Check out my blog post about it!</p>

<ul>
    <li><a href="https://exceptionnotfound.net/learning-blazor-by-building-connect-four-in-asp-net-core/" target="_blank">A Blazor Tutorial: Building ConnectFour in ASP.NET Core</a></li>
</ul>