<h2>How To Make Conway's Game of Life in Blazor</h2>

<p>
    Want to learn how to make Conway's Game of Life in C#, ASP.NET Core, and Blazor? Check out
    <a href="https://exceptionnotfound.net/conways-game-of-life-with-emojis-in-csharp-and-blazor-webassembly/" target="_blank">my blog post about it!</a>
</p>