<hr />

<h2>Controls</h2>

<p><strong>Click</strong> on the New Game button to begin a new game.</p>
<p><strong>Click</strong> on the draw pile to draw a new card.</p>
<p><strong>Click</strong> on the empty draw pile to replace the pile with the discarded cards.</p>
<p><strong>Click and drag</strong> any card to move it.</p>
<p><strong>Double-click</strong> on a card to move it to the suit piles (if it can be moved there).</p>

<hr />

<h2>Soltaire Rules</h2>

<h4>The Goal</h4>

<p>The goal of Klondike Solitaire is to build up each suit pile from the lowest card (Aces) to the highest card (Kings).</p>

<h4>How to Play Klondike Solitaire</h4>

<p>Rules sourced and modified from <a href="https://bicyclecards.com/how-to-play/klondike/">Bicycle Cards</a></p>

<p>
    The four aces form the foundations. As it becomes available, each ace must be played to a row above the columns (this row is the Suit Piles).
    Cards in the appropriate suit are then played on the aces in sequence - the two, then the three, and so on - as they become available.
</p>

<p>
    Any movable card may be placed on a card next-higher in rank if it is of opposite color.
    Example: A black five may be played on a red six. If more than one card is face up on a tableau pile, all such cards must be moved as a unit.
</p>

<p>
    When there is no face-up card left on a pile, the top face-down card is turned up and becomes available.
</p>

<p>
    Only a king may fill an open space in the layout.
    The player turns up cards from the top of the stock individually,
    and the shown card ("up-card") may be used for building on the piles, or if possible, played on a suit pile.
    If a card is used in this manner, the card below it becomes available for play.
    The up card is then covered by the next card in the draw pile, and cannot be used until it is the top card in the discard pile.
</p>