<div class="top-row px-4 text-right">
    <ul class="list-inline float-right">
        <li class="list-inline-item"><a href="https://exceptionnotfound.net" target="_blank" class="ml-md-auto"><i class="fa fa-external-link-square-alt"></i> Exception Not Found</a></li>
        <li class="list-inline-item"><a href="https://facebook.com/ExceptionNotFnd"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li class="list-inline-item"><a href="https://twitter.com/ExceptionNotFnd"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li class="list-inline-item"><a href="https://github.com/exceptionnotfound"><i class="fa fa-github"></i> GitHub</a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/matthew-jones-b7879b155/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    </ul>
</div>
