@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 text-right">
        <div class="col-6"></div>
        <div class="col-6">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://exceptionnotfound.net" target="_blank" class="ml-md-auto"><i class="fa fa-external-link-square-alt"></i> Exception Not Found</a></li>
                <li class="list-inline-item"><a href="https://twitter.com/ExceptionNotFnd"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li class="list-inline-item"><a href="https://github.com/exceptionnotfound"><i class="fa fa-github"></i> GitHub</a></li>
            </ul>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
