@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <h1 id="pageTitle"></h1>
    <ExternalLinks />

    <div class="content px-4">
        @Body
    </div>
</div>
