<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorGames.net</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="fa fa-info-circle" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="whatisblazor">
                <span class="fa fa-question-circle" aria-hidden="true"></span> What Is Blazor?
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tetris">
                <span class="fa fa-th-large" aria-hidden="true"></span> Tetris
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="solitaire">
                <span class="fa fa-layer-group" aria-hidden="true"></span> Solitaire
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="yahtzee">
                <span class="fa fa-dice" aria-hidden="true"></span> Yahtzee
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="minesweeper">
                <span class="fa fa-flag" aria-hidden="true"></span> Minesweeper
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gameoflife">
                <span class="fa fa-skull" aria-hidden="true"></span> Game of Life
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blackjack">
                <span class="fa fa-dollar" aria-hidden="true"></span> Blackjack
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tictactoe">
                <span class="fa fa-times" aria-hidden="true"></span> Tic Tac Toe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="connectfour">
                <span class="fa fa-plus" aria-hidden="true"></span> Connect Four
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
