@inject IJSRuntime _jsRuntime;
@code {
    private string _title = "";
    [Parameter]
    public string Title
    {
        get
        {
            return this._title;
        }
        set
        {
            this._title = value;
            setTitle(); //This line will give you a warning in your IDE, because it 
                        //is an async method being called by a synchronous setter.
        }
    }


    protected override async Task OnInitializedAsync()
    {
        await setTitle();
    }

    private async Task setTitle()
    {
        await _jsRuntime.InvokeVoidAsync("setTitle", this._title );
    }
}

<h2>@Title</h2>