@using BlazorGames.Models.Blackjack;

@code {
    [Parameter]
    public GameStatus Status { get; set; }

    [Parameter]
    public Player Player { get; set; }
}

@if (Status == GameStatus.InProgress || Status == GameStatus.Dealing || Status == GameStatus.HandOver)
{
    <h1 class="display-3 text-info">@Player.ScoreDisplay</h1>
}